.footer {
  &__links {
    background-color: #f0f1f5;
    padding: 3rem 0;

    @include tablet {
      padding: 4.4rem 0 3.9rem;

    }
  }

  &__connect {
    background-color: #f0f1f5;
  }

  &__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
      align-items: center;
    @include tablet {
      align-items: flex-start;
    }
  }

  &__logo {
    display: block;
    height: 2.8rem;
    width: 13.2rem;

    @include tablet {
      height: 3.4rem;
      width: 15.6rem;
      position: absolute;
      top: 1.1rem;
      left: 2rem;

    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__nav {
    width: 100%;
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    padding: 0 11.2rem 0 16rem;
  }

  &__nav-item {}

  &__nav-trigger {
    font-size: 1.4rem;
    font-weight: 500;
    display: block;
    padding: 1.8rem 2rem;
    color: #000000;
    background-size: 200% auto;
    background-position: 85% 50%;
    transition: background-position 350ms linear, color 220ms var(--e);

    &:hover {
      background-position: 15% 50%;
      color: var(--primaryColor);
    }
  }

  &__langs {
    @include tablet {
      position: absolute;
      right: 1.8rem;
      top: 0.6rem;

    }
  }

  &__reachings {
    padding: 1.9rem 0 1rem;
    display: flex;
    flex-wrap: wrap;

    @include tablet {
      padding: 3.4rem 0 0;
      width: 52.2%;

    }
  }

  &__reaching {

    padding: 1.1rem 2rem 1.1rem 4rem;
    width: 100%;

    @include tablet {
      padding: 2.3rem 2rem 2.3rem 4rem;
      width: 50%;

    }
  }

  &__subscribe {
    padding: 2.2rem 2rem 0.8rem 2rem;
    margin: 0 -2rem;
    background-color: #F0F1F5;

    @include tablet {
      background-color: inherit;
      margin: 0;
      width: 47.8%;
      padding: 5.8rem 0 0 17.3%;

    }
  }

  &__bottom {
    position: relative;
    padding: 2.5rem 0;
    background-color: #fff;

    @include tablet {
      background-color: #f0f1f5;
      padding: 3.6rem 0;

    }
  }

  &__copyright {
    color: #a3aec2;
    font-weight: 600;
    width: 50%;

    @include tablet {
      width: auto;
      position: absolute;
      left: 2.3rem;
      top: 1.6rem;

    }
  }

  &__quick-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    padding: 0 0 0 0;
    justify-content: space-between;
    order: 3;

    @include tablet {
      justify-content: center;
      order: 0;
      padding: 0 12rem 0 8rem;

    }

  }

  &__quick-link {

    font-weight: 500;
    display: block;
    color: #000000;
    background-size: 200% auto;
    background-position: 85% 50%;
    transition: background-position 350ms linear, color 220ms var(--e);
    padding: 3.5rem 0rem;
    font-size: 1.2rem;

    @include tablet {
      padding: 1.8rem 2rem;
      font-size: 1.4rem;

    }

    &:hover {
      background-position: 15% 50%;
      color: var(--primaryColor);
    }
  }

  &__credits {
    display: block;
    order: 2;
    width: 7.6rem;
    height: 1.9rem;

    @include tablet {
      order: 0;
      width: auto;
      position: absolute;
      top: 2.4rem;
      right: 1.8rem;
      width: 7.2rem;
      height: 1.8rem;

    }

    svg {
      display: block;
      width: 100%;
      height: 100%;

    }
  }
}
