.partners {
    &__container {
        // background-color: #F0F1F5;
        // @include tablet {
        //   background-color: transparent;
        // }
    }

    &__content {
        position: relative;

        @include tablet {
            padding-right: 70.6%;
            height: 40rem;

        }
    }

    &__actions {
        background-color: #F0F1F5;
        padding: 2.1rem 2rem 0.6rem;
        @include clearfix;
        height: 100%;

        @include tablet {
            padding: 6.1rem 4rem;

        }
    }

    &__select {
        @include tablet {}
    }

    &__finder {

        font-weight: 500;
        text-align: right;
        position: relative;
        cursor: pointer;
        float: right;
        padding: 1.9rem 2.3rem;
        margin: 1.4rem 0 0;

        @include tablet {
            margin: 0;
            padding: 1.9rem 2.3rem;

        }

        &:after {
            transition: transform 220ms var(--e);
            content: '';
            top: 2.8rem;
            right: -0.1rem;
            position: absolute;
            width: .5rem;
            height: .9rem;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('../img/icon--arrow.svg');
        }

        &:before {
            transition: transform 220ms var(--e);
            content: '';
            top: 2rem;
            left: -0.1rem;
            position: absolute;
            width: 1.4rem;
            height: 2rem;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('../img/icon--location.svg');
        }

        @include tablet {

            &:hover {
                &:after {
                    transform: translate3d(.2rem, 0, 0);
                }
            }
        }
    }

    &__map {
        height: 25.7rem;

        @include tablet {
            background-color: #111;
            height: 100%;
            top: 0;
            position: absolute;
            right: 0;
            width: 69.2%;

        }
    }

    &__logos {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 1rem 0;

        @include tablet {
            padding: 3.3rem 0;

        }
    }

    &__logo {
        @include flex;
        position: relative;
        padding: 1.8rem;

        width: 33.33%;

        @include tablet {
            width: 16.6666%;
            padding: 3.3rem;

            &:hover {
                .partners {
                    &__image {
                        opacity: 1;
                        -webkit-filter: grayscale(0);
                        filter: grayscale(0);

                    }
                }
            }
        }
    }

    &__image {
        opacity: 0.3;
        transition: filter 120ms var(--e), opacity 220ms var(--e);
        -webkit-filter: grayscale(100);
        filter: grayscale(100);
    }

    &__link {
        @include absolute;
    }
}
