.range {
  &__value {
    color: #a3aec2;
    font-family: var(--fontSecondary);
    font-size: 1.4rem;
    font-weight: 400;
    position: absolute;
    bottom: 1.3rem;

    &--min {
      left: 0;
    }

    &--max {
      right: 0;
    }
  }
}
