<script>
  export let name;
  let activeStep = 1;
</script>

<form class="wizard__form custom-submit" novalidate>
  <div class="form__content wizard__step{activeStep == 1 ? ' is-active' : ''}">
    <div on:click={()=>activeStep = 2}>klik</div>
    <div class="wizard__content">
      <div
        data-wizard-type="1"
        data-wizard-id="2"
        data-wizard-type-label="Paskola automobiliui"
        data-wizard-min="500"
        data-wizard-max="15000"
        data-wizard-image="../media/proffer__icon--2.png"
        data-wizard-terms="12,15,9,6,18,21,24,27,30,33,36,39,42,45,48,51,54,57,60,63,66,69,72,6,9,12,15,18,21,24,27,30,33,36,39,42,45,48,51,54,57,60,63,66,69,6,9,12,15,18,21,24,27,30,33,36,39,42,45,48,51,54,57,60,63,66,69,72,72"
        data-wizard-default-term="12"
        data-wizard-default-amount="500" />
      <div
        data-wizard-type="2"
        data-wizard-id="1"
        data-wizard-type-label="Vartojimo paskola"
        data-wizard-min="300"
        data-wizard-max="15000"
        data-wizard-image="../media/proffer__icon--1.png"
        data-wizard-terms="24,27,30,33,6,36,39,42,45,48,51,54,57,60,63,66,69,60,63,66,69,36,39,42,45,12,72,48,51,54,57,24,27,30,33,12,3,6,9,72,9,15,18,21,15,18,21,6,9,12,15,18,21,24,27,30,33,36,39,42,45,48,51,54,57,60,63,66,69,72"
        data-wizard-default-term="12"
        data-wizard-default-amount="300" />
      <div
        data-wizard-type="3"
        data-wizard-id="3"
        data-wizard-type-label="Paskola būsto remontui"
        data-wizard-min="300"
        data-wizard-max="15000"
        data-wizard-image="../media/proffer__icon--3.png"
        data-wizard-terms="24,18,21,15,12,9,6,3,27,30,33,36,39,42,45,48,51,54,57,60,63,66,69,72,3,6,9,12,15,18,21,24,27,30,33,36,39,42,45,48,51,54,57,60,63,66,69,72,6,9,12,15,18,21,24,27,30,33,36,39,42,45,48,51,54,57,60,63,66,69,72"
        data-wizard-default-term="12"
        data-wizard-default-amount="300" />
      <div class="form__row">
        <div class="form__item">
          <select
            name="wizard-type"
            class="form__select"
            data-wizard-select
            data-dropdown>
            <option value="1">Paskola automobiliui</option>
            <option value="2">Vartojimo paskola</option>
            <option value="3">Paskola būsto remontui</option>
          </select>
          <span class="form__error">Error</span>
        </div>
      </div>
      <div class="form__row">
        <div class="form__item">
          <span class="form__label">Įveskite norimą paskolos sumą</span>
          <div class="form__help">
            <span data-wizard-range-min>500&nbsp;€</span>
            &nbsp;-&nbsp;
            <span data-wizard-range-max>15000&nbsp;€</span>
          </div>
          <input
            type="number"
            inputmode="decimal"
            pattern="[0-9]*"
            name="wizard-amount-input"
            required
            class="form__input" />
          <span class="form__error" />
        </div>
      </div>
      <div class="form__row">
        <div class="form__item">
          <div class="form__range form__range--amount range">
            <div
              class="range__target range__target--amount"
              data-wizard-range />
          </div>
          <input
            type="hidden"
            name="wizard-amount"
            data-wizard-amount
            tabindex="-1"
            value="500" />
        </div>
      </div>
      <div class="form__row">
        <div class="form__item">
          <span class="form__label">Grąžinimo terminas</span>
          <div class="form__help">Nuo 3 - 72 mėn.</div>
          <input
            type="number"
            inputmode="decimal"
            pattern="[0-9]*"
            name="wizard-term"
            data-wizard-term-input
            required
            class="form__input"
            min="3" />
          <span class="form__error" />
        </div>
      </div>
      <div class="form__row">
        <div class="form__term term">
          <div class="form__range form__range--term range">
            <div
              class="range__target range__target--term"
              data-wizard-term-range />
          </div>
        </div>
      </div>
    </div>
    <div class="wizard__footer">
      <div class="wizard__notify">
        Pinigus pervesime per 30 min., jei paskolos sutartį sudarysite iki 20
        val.
      </div>
      <div class="wizard__btn btn" data-wizard-result-trigger>
        <span class="btn__text">Skaičiuoti įmoką</span>
        <i class="btn__icon btn__icon--right">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.1997 8.9849">
            <polygon
              points="0.707 8.985 0 8.278 3.786 4.493 0 0.707 0.707 0 5.2 4.493
              0.707 8.985"
              fill="#fff" />
          </svg>
        </i>
      </div>
    </div>
  </div>
  <div
    class="form__content form__content--no-flip wizard__step{activeStep == 2 ? ' is-active' : ''}">
    <div class="wizard__content">
      <div class="wizard__summary summary">
        <div class="summary__back" data-wizard-update-trigger>Keisti sumą</div>
        <div class="summary__title" data-wizard-summary-type>
          Paskola automobiliui
        </div>
        <div class="summary__range range">
          <div
            class="range__target range__target--update-term"
            data-wizard-update-term-range />
        </div>
        <div class="summary__table">
          <div class="summary__row">
            <div class="summary__col summary__col--label">Paskolos suma:</div>
            <div class="summary__col summary__col--val">
              <span data-wizard-summary-amount />
              &nbsp;€
            </div>
          </div>
          <div class="summary__row">
            <div class="summary__col summary__col--label">
              Grąžinimo terminas:
            </div>
            <div class="summary__col summary__col--val">
              <span data-wizard-summary-term />
              &nbsp;mėn.
            </div>
          </div>
          <div class="summary__row summary__row--bold">
            <div class="summary__col summary__col--label">Mėnesio įmoka:</div>
            <div class="summary__col summary__col--val">
              <span data-wizard-summary-monthly />
              &nbsp;€
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wizard__footer">
      <div class="wizard__footnote">
        <p>
          Pavyzdžiui, skolinantis
          <span data-wizard-example-amount />
          &nbsp;€, kai sutartis sudaroma
          <span data-wizard-example-term />
          mėn. terminui, metinė palūkanų norma –
          <span data-wizard-example-yearly />
          , mėnesio sutarties mokestis –
          <span data-wizard-example-fee />
          , BVKKMN –
          <span data-wizard-example-bvkkmn />
          , bendra mokėtina suma –
          <span data-wizard-example-total />
          , mėnesio įmoka –
          <span data-wizard-example-monthly />
          &nbsp;€.
        </p>

        <p>
          Atsižvelgiant į lizingo bendrovės atliktą Jūsų kreditingumo ir rizikos
          vertinimą ar pasirinkus kitokį sutarties terminą bei įmokų mokėjimo
          dieną, Jums gali būti pasiūlytos ir kitokios sąlygos (pavyzdžiui,
          metinės palūkanų normos arba mėnesio sutarties mokesčio dydis).
        </p>
      </div>
      <div class="wizard__notify">
        Pinigus pervesime per 30 min., jei paskolos sutartį sudarysite iki 20
        val.
      </div>
      <input type="hidden" name="type" tabindex="-1" />
      <input type="hidden" name="term" tabindex="-1" />
      <input type="hidden" name="amount" tabindex="-1" />
      <button class="wizard__btn btn">
        <span class="btn__text">Gauti paskolą</span>
        <i class="btn__icon btn__icon--right">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.1997 8.9849">
            <polygon
              points="0.707 8.985 0 8.278 3.786 4.493 0 0.707 0.707 0 5.2 4.493
              0.707 8.985"
              fill="#fff" />
          </svg>
        </i>
      </button>
    </div>
  </div>
  <div
    class="form__done form__done--error done done--error"
    data-form-done="error">
    <i class="done__close" data-done-close />
    <div class="done__top">
      <h2>Error</h2>
    </div>
    <div class="done__text">
      <p>
        Atsiprašome, šiuo metu turime nesklandumų. Bandykite vėliau dar kartą...
      </p>
    </div>
  </div>
</form>
