.noUi {
  &-horizontal {
    height: 4rem;
    border: none;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;

    &:before {
      content: '';
      position: absolute;
      top: 2rem;
      height: 1px;
      background-color: #000;
      left: 0;
      right: 0;
    }

    .noUi {
      &-handle {
        height: 4rem;
        width: 4rem;
        top: 0;
        background-size: 0 0;
        border-radius: 50%;
        background-color: transparent;
        border: none;
        box-shadow: none;
        cursor: pointer;

        &-icon {
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: cover;
          transition: transform 220ms var(--e), background-color 220ms var(--e);
          z-index: 3;
          border-radius: 50%;
          box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.08);
          background-image: url('../img/handle__icon.svg');

          &--wizard {
            background-color: #000;
          }
        }

        @include tablet {
          &:hover {
            .noUi {
              &-handle {
                &-icon {
                  transform: scale(1.1);

                  // &--wizard {
                  //   background-color: var(--primaryColor);
                  // }
                }
              }
            }
          }
        }

        &--wizard {
          height: 2rem;
          width: 2rem;
        }

        &.noUi-active {
          .noUi {
            &-handle {
              &-icon {
                transform: scale(0.9);

                &--wizard {
                  background-color: var(--primaryColor);
                }
              }
            }
          }

          @include tablet {
            &:hover {
              .noUi {
                &-handle {
                  &-icon {
                    transform: scale(0.9);
                  }
                }
              }
            }
          }
        }
      }

      &-tooltip {
        bottom: auto;
        top: 120%;

        &:before {
          content: '';
          position: absolute;
          width: 0;
          top: -0.7rem;
          left: calc(50% - 0.7rem);
          height: 0;
          border-style: solid;
          border-width: 0 0.7rem 0.7rem 0.7rem;
          border-color: transparent transparent #fff transparent;

          .wizard & {
            display: none;
          }
        }
        &--wizard {
          display: none;
        }
      }
    }
  }

  &-tooltip {
    border: none;
    border-radius: 0;
    background: #fff;
    padding: 0rem 1rem;
    font-weight: 500;
  }
}
